@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font: 16px/1.618 sans-serif;
    font-family: 'Lato', sans-serif;
}

.bgImage{
    position: fixed;
    z-index: -1;
    min-width: 100vw;
    min-height: 100vh;
    background-image: url("backgroundImage.jpg");
    background-size: cover;
    opacity: .5;
}

a{
    text-decoration: none;
}

.container{
    height: 100vh;
    margin: 2rem auto;
    width: 75vw;
    padding-top: 10rem;
}

.header{
    background-color: #000;
    color: #ccc;
    font-size: 2.5rem;
    padding: 2rem;
    position: fixed;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    width: 100%;

}

h1{
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.accordion {
    background-color: #000;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 1rem;
    width: 100%;
    margin-bottom: 1rem;
    transition: 0.4s;
}

.accordionLabel{
    color: #ccc;
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;
}

.active, .accordion:hover {
    /*background-color: #ccc;*/
    /*color: #000;*/
}

.panel {
    background-color: #ccc;
    color: #000;
    display: none;
    margin-bottom: 1rem;
    overflow: hidden;
    padding: 2rem;
}

.footer{
    background-color: #000;
    bottom: 0;
    color: #ccc;
    padding: 2rem;
    position: fixed;
    width: 100%;
}

.footerNav_list{
    display: flex;
    justify-content: space-between;
}

.footerNav_listItem{
    list-style-type: none;
    padding: 1rem;
    text-transform: uppercase;

}

.footerNav_listItem a{
    color: #ccc;
    font-weight: 300;
    padding: 2rem 4rem 2rem 4rem;
}

.footerNav_listItem a:hover{
    background-color: #ccc;
    color: #000;
    font-weight: 900;
}
