@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;900&display=swap');
*{
    box-sizing: border-box;
}

html, body{
    font: 16px/1.618 sans-serif;
    font-family: 'Lato', sans-serif;
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

.bgImage{
    position: fixed;
    z-index: -1;
    min-width: 100vw;
    min-height: 100vh;
    background-image: url("backgroundImage.jpg");
    background-size: cover;
    opacity: .5;
}

a{
    text-decoration: none;
}

.container{
    flex: 1.0;
    margin-top: 13rem;
    padding: 0rem 5rem;
}

.header{
    background-color: #000;
    color: #ccc;
    font-size: 2.5rem;
    padding: 2rem;
    position: fixed;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    width: 100%;
}

h1{
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.accordion {
    background-color: #000;
    border: none;
    cursor: pointer;
    margin-bottom: 1rem;
    outline: none;
    padding: 1rem;
    transition: 0.4s;
    width: 100%;
}

.accordionLabel{
    color: #ccc;
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;
}

.accordion:hover {
    background-color: #ccc;
    color: black;
}

.accordion:active{
    background-color: #ccc;
    color: #000000;
}

.panel {
    background-color: #ccc;
    color: #000;
    display: none;
    margin-bottom: 1rem;
    overflow: hidden;
    padding: 2rem;
}

/*#forms {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}*/

#form {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#form div {
    padding-right: 10px;
}

input {
    background-color: #e3e3e1;
    border: 3px solid #000;
    color: #000;
    padding: .75rem;
    vertical-align: middle;
    width: 32%;
    margin: .25rem;
    text-transform: uppercase;
    text-align: center;
}

#operators2{
    margin: 1rem;
}

.fa-plus{
    font-size: 2rem;
}

#answer{
    text-transform: uppercase;
}

.footer{
background-color: #000;
color: #ccc;
padding: 1rem;
}

.footerNav_list{
display: flex;
justify-content: space-between;
}

.footerNav_listItem{
list-style-type: none;
padding: 1rem;
text-transform: uppercase;

}

.footerNav_listItem a{
color: #ccc;
font-weight: 300;
padding: 2rem 4rem 2rem 4rem;
}

.footerNav_listItem a:hover{
background-color: #ccc;
color: #000;
font-weight: 900;
}
