@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    color: #666;
    font: 16px/1.618 sans-serif;
    font-family: 'Nanum Gothic', sans-serif;
    background-color: cadetblue;
}

a{
    padding: .25rem .5rem;
    text-decoration: none;
    color: #fff;
}

.container{
    background-color: #fff;
    margin: 2rem auto;
    max-width: 60rem;
    width: 90%;
    padding-top: 5rem;
}


/** {*/
/*    font-weight: bold;*/
/*}*/

/*#body{*/
/*    !*display: grid;*!*/
/*    !*grid-template-columns: 2fr 1fr 1fr;*!*/
/*    !*background-image: url("/donovan-reeves-IZ-8E27kGCI-unsplash.jpg");*!*/
/*    !*background-position: center;*!*/
/*    !*background-repeat: no-repeat;*!*/
/*    background-color: cadetblue;*/
/*}*/

.header{
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: space-between;*/

    background-color: #666;
    position: fixed;
    top: 0;
    width: 100%;
}

h1{
    /*margin-left: 3rem;*/
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

h2{
    text-align: center;
    text-transform: uppercase;

}

button {
    text-shadow: 1px 1px lightseagreen;
}

/*#form {*/
/*    display:grid;*/
/*    grid-template-columns: 1fr 1fr 1fr;*/
/*}*/

/*#form div {*/
/*    padding-right: 50px;*/
/*}*/

#leftFields{
    align-items: center;
}

#addField {
    margin-bottom: 20px;
}

#forms {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


#drapes{
    margin-left: 25%;
    background-color: darkgoldenrod;
}

#operators {
    display: grid;
    grid-template-rows: auto;
}





#operators i{
    padding-left: 50px;
    font-size: 2rem;

}

#operators i:hover{
    color: greenyellow;

}

#operators2 {
    color:blue;
    display: grid;
    grid-template-rows: 45px;
}

#operators2 i{
    margin-left: 20%;
    margin-top: 10%;
    padding-left: 40px;
    font-size: 3.5rem;
}

#operators2 i:hover{
    color: greenyellow;
    font-size: 3.7rem;
}

#answer {
    font-size: 2rem;
    margin-top: 15%;
    text-shadow: 1px 1px darkblue;
}

#answer li {
    font-size: 2rem;
    text-shadow: 1px 1px darkBlue;
}

#multipleTransactTotal {
    position: absolute;
    left: 25%;
    top: 60%;
}

#numberWindow {
    margin-top: 10%;
    margin-left: 25%;
}

.input {
    margin: .5rem;
}


