* {
    font-weight: bold;
}

#body{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

h1 {
    text-shadow: 1px 1px darkmagenta;
}

button {
    text-shadow: 1px 1px lightseagreen;
}

#form {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#form div {
    padding-right: 50px;
}

#operators {
    display: grid;
    grid-template-rows: auto;
}

#addField {
    margin-bottom: 20px;
}

#forms {
    display:grid;
    grid-template-rows: auto;
}

#operators i{
    padding-left: 50px;
    font-size: 2rem;

}

#operators i:hover{
    color: greenyellow;

}

#operators2 {
    display: grid;
    grid-template-rows: 45px;
}

#operators2 i{
    margin-left: 20%;
    margin-top: 10%;
    padding-left: 40px;
    font-size: 3.5rem;
}

#operators2 i:hover{
    color: greenyellow;

}

#multipleTransactTotal {
    position: absolute;
    left: 25%;
    top: 60%;


}



