@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;900&display=swap');
*{
    box-sizing: border-box;
}

html, body{
    font: 16px/1.618 sans-serif;
    font-family: 'Lato', sans-serif;
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

.bgImage{
    position: fixed;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    background-image: url("../images/backgroundImage.jpg");
    background-size: cover;
    filter: sepia(1);
}

a{
    text-decoration: none;
}

.container{
    flex: 1.0;
    margin-top: 13rem;
    padding: 0rem 5rem;
}

.header{
    background-color: #000;
    color: #fdfaf6;
    font-size: 2.5rem;
    padding: 2rem;
    position: fixed;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    width: 100%;
}

h1{
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.accordion {
    background-color: #000;
    border: none;
    cursor: pointer;
    margin-bottom: 1rem;
    outline: none;
    padding: 1rem;
    transition: 0.4s;
    width: 100%;
}

.accordionLabel{
    color: #fdfaf6;
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;
}

.accordion:hover {
    background-color: #704214;
}

/*.accordion:active{
    background-color: #ccc;
    color: #000000;
}*/

.panel {
    background-color: #704214;
    color: #000;
    display: none;
    margin-bottom: 1rem;
    overflow: hidden;
    padding: 2rem;
}

.currencyTypes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

input {
    background-color: #fdfaf6;
    border: 3px solid #000;
    color: #000;
    padding: .75rem;
    vertical-align: middle;
    margin: .25rem;
    text-transform: uppercase;
    text-align: center;
}

/*input[type="text"] {
    color: #000000;
    font-weight: 900;
}*/

.lineTwo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.function{
    background-color: #000;
    border: 3px solid #000;
    color: #fdfaf6;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 900;
    margin: 1rem.25rem;
    padding: .75rem;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
}


.solution{
    border: 3px solid #000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem.25rem;
}

.answer{
    /*
    background-color: #fdfaf6;
    */
    border-right: .125rem solid;
    color: #000;
    font-size: 1rem;
    font-weight: 900;
    padding: .75rem;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
}

.answerLast{
    /*
    background-color: #fdfaf6;
    */
    color: #000;
    font-size: 1rem;
    font-weight: 900;
    padding: .75rem;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
}

.multiplier{
    border: 3px solid #000;
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-weight: 900;
    margin: 1rem.25rem;
    text-align: center;
    /*text-transform: uppercase;
    vertical-align: middle;*/
}

.operator{
    background-color: #000;
    color: #fdfaf6;
    font-size: 2rem;
}

.addNumber{
    cursor: text;
    background-color: #fdfaf6;
    font-size: 1rem;
    padding: .75rem;
}

.footer{
    background-color: #000;
    color: #fdfaf6;
    padding: 1rem;
}

.footerNav_list{
    display: flex;
    justify-content: space-between;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.footerNav_listItem{
list-style-type: none;
padding: 1rem;
text-transform: uppercase;

}

.footerNav_listItem a{
color: #fdfaf6;
font-weight: 300;
padding: 2rem 4rem 2rem 4rem;
}

.footerNav_listItem a:hover{
background-color: #704214;;
color: #000;
font-weight: 900;
}
