<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Currency Converter</title>
</head>
<body id="body">


<h1>Let's see if we have a page here</h1>
<h2 id="testHeading">If this is red, currencyConverter.js is wired to this and firing correctly</h2>

<h3>Is our background blue?</h3>

<div id="form">

    <p>put in some pounds below</p>
    <input id="poundsIn" type="number">

    <p>and how about some shillings...</p>
    <input id="shillingsIn" type="number">

    <p>and pence if you have any left over...</p>
    <input id="penceIn" type="number">

</div>

<button id="submitButton">Magic Button Of Numbers</button>

<ul id="totalsHeading"><h4>your totals here:</h4></ul>



<script src="/currencyConverter.js"></script>
</body>
</html>
