<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="stylesheet" href="css/converterAccordions.css">
    <title>Colonial British Currency Converter</title>
</head>
<body>

<div class="bgImage"></div>

<header class="header">
    <h1>Currency Converter</h1>
</header>




<div class="container">




    <button class="accordion">
        <span class="accordionLabel">add</span>
    </button>

    <div class="panel">


            <div class="forms">
            </div>

        <div class="lineTwo">
        <button class="function addCurrency">Add More Currency</button>

        <button class="function calculate">Calculate
        </button>


        <button class="solution">
            <div class="answer pounds">Total Pounds</div>
            <div class="answer shillings">Total Shillings</div>
            <div class="answerLast pence">Total Pence</div>
        </button>
        </div>
    </div>






    <button class="accordion">
       <span class="accordionLabel">subtract</span>
    </button>
    <div class="panel">


        <div class="forms">
        </div>

        <div class="lineTwo">
            <button class="function addCurrency">Add More Currency</button>

            <button class="function calculate">Calculate
                <!--<div id="operators2">
                    <i id="plus" class="fa fa-plus"></i>
                </div>-->
            </button>


            <button class="solution">
                <div class="answer pounds">Total Pounds</div>
                <div class="answer shillings">Total Shillings</div>
                <div class="answerLast pence">Total Pence</div>
            </button>
        </div>
    </div>




    <button class="accordion">
        <span class="accordionLabel">multiply</span>
    </button>
    <div class="panel">


        <div class="forms">
        </div>

        <div class="lineTwo">

            <button class="multiplier">
                <div class="operator">
                <i id="times" class="fa fa-times"></i>
                </div>
                <div class="addNumber">
                    <input type="number" id="multiplier">
                </div>
            </button>

            <button class="function calculate">Calculate</button>

            <button class="solution">
                <div class="answer pounds">Total Pounds</div>
                <div class="answer shillings">Total Shillings</div>
                <div class="answerLast pence">Total Pence</div>
            </button>
        </div>
    </div>




    <button class="accordion">
        <span class="accordionLabel">divide</span>
    </button>
    <div class="panel">


        <div class="forms">
        </div>

        <div class="lineTwo">

            <button class="solution">
                <ul class="multiplier">Divide By: </ul>
                <input type="number" id="divisor">
            </button>

            <button class="function calculate">Calculate
                <!--<div id="operators2">
                    <i id="plus" class="fa fa-plus"></i>
                </div>-->
            </button>


            <button class="solution">
                <div class="answer pounds">Total Pounds</div>
                <div class="answer shillings">Total Shillings</div>
                <div class="answerLast pence">Total Pence</div>
            </button>
        </div>
    </div>

</div>

<footer class="footer">
    <nav class="footerNav">
        <ul class="footerNav_list">
            <li class="footerNav_listItem"><a href="#">Footer Link One</a></li>
            <li class="footerNav_listItem"><a href="#">Footer Link Two</a></li>
            <li class="footerNav_listItem"><a href="#">Footer Link Three</a></li>

        </ul>
    </nav>
</footer>

<script src="js/accordions.js"></script>
<script src="js/currencyConverter3.js"></script>

</body>
</html>
