<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="stylesheet" href="/layout.css">
    <title>Colonial British Currency Converter</title>
</head>
<body>

<header class="header">
    <h1>Currency Converter</h1>
</header>

<div class="container">

<div id="leftFields">
    <h2>Hit the 'add field' for additional forms</h2>
    <button id="addField">Add Field</button>


    <div id="forms">

    </div>

    <button id="drapes">let's pull on this button</button>

    <div id="numberWindow"></div>

</div>

<div id="rightField">
    <div id="operators2">
        <i id="plus" class="fa fa-plus"></i>
        <i id="minus" class="fa fa-minus"></i>
        <i id="times" class="fa fa-times"></i>
        <i id="divide" class="fas fa-angle-up"></i>
        <i id="calculate" class="fa fa-calculator"></i>

    </div>

</div>
<ul id="answer">answer here:</ul>

<script src="/currencyConverter2.js"></script>

</div>
</body>
</html>
