<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/calculator.css">
    <script src="/js/calculatorComponents.js" defer></script>
    <script src="/js/calculatingMotor.js" defer></script>

    <title>Colonial Currency Calculator</title>
</head>
<body>

<div id="backgroundDiv"><h1>Colonial Currency Calculator</h1></div>


</body>


<div id="converterDiv">
    <div id="converterHeader"></div>
    <div class="container" id="converterContainer"></div>
</div>





</html>
