<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="stylesheet" href="/layout.css">
    <title>Colonial British Currency Converter</title>
</head>
<body id="body">

<div class="container">

<div id="leftFields">
    <h1>Currency Converter</h1>

    <button id="addField">Add Field</button>



    <div id="forms"></div>
</div>

<div id="rightField">
    <div id="operators2">
        <i id="plus" class="fa fa-plus"></i>
        <i id="minus" class="fa fa-minus"></i>
        <!--        <i id="times"  class="fa fa-times"></i>-->
        <!--        <i id="divide" class="fa fa-calculator"></i>-->
    </div>
    <ul id="answer">answer here:  </ul>

</div>



</div>
<script src="/currencyConverter2.js"></script>
</body>
</html>
