<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/calculator.css">
    <script src="/js/calculatorComponents.js" defer></script>
    <script src="/js/calculatingMotor.js" defer></script>

    <title>Colonial Currency Calculator</title>
</head>
<body>

<img id="backgroundImage" src="/images/christopher-lotito-kJoZ9h1ync0-unsplash.jpg" alt="">

<div id="converterDiv">
    <div id="converterHeader"></div>
    <div class="container" id="converterContainer"></div>
</div>





</body>
</html>
