<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <title>Currency Converter</title>
</head>
<body id="body">


<h1>Let's see if we have a page here</h1>
<h2 id="testHeading">If this is red, currencyConverter.js is wired to this and firing correctly</h2>

<h3>Is our background blue?</h3>

<div id="form">

    <div id="firstAmount">
        <p>put in some pounds below</p>
        <input id="pounds1" type="text">

        <p>and how about some shillings...</p>
        <input id="shillings1" type="text">

        <p>and pence if you have any left over...</p>
        <input id="pence1" type="text">
    </div>

    <div id="operators">
        <i id="plus"   class="fa fa-plus"></i>
        <i id="minus"  class="fa fa-minus"></i>
<!--        <i id="times"  class="fa fa-times"></i>-->
<!--        <i id="divide" class="fa fa-calculator"></i>-->



    </div>

    <div id="secondAmount">
        <p>put in some pounds below</p>
        <input id="pounds2" type="text">

        <p>and how about some shillings...</p>
        <input id="shillings2" type="text">

        <p>and pence if you have any left over...</p>
        <input id="pence2" type="text">
    </div>


</div>

<button id="submitButton">Magic Button Of Numbers</button>

<ul id="totalsHeading"><h4>test conversion here:</h4></ul>

<ul id="multipleTransactTotal">multiple entity result here:</ul>


<script src="/static/notUsed/currencyConverter.js"></script>
</body>
</html>
