<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>testing form</title>
</head>
<body>


<button id="formButton" onclick="makeNewForm()"><h1>Add A Form Here</h1></button>


<div id="formFields">

    <button id="testButton" onclick="submitForms()">Submit These Forms</button>
</div>




<script src="/static/notUsed/testForm.js"></script>
</body>
</html>
